doctype html
html(lang='en')
  head


    script(src="/socket.io/socket.io.js")
    script(src='javascripts/lib.min.js')
    script(src='javascripts/bundle.min.js')
    link(rel='stylesheet', type='text/css', href='stylesheets/lib.min.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/bundle.min.css')

    title KawaChat
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1')
    
    meta(property='og:image', content='images/logo@2x.png')

  body(ng-app="KC")

    block content
